:root {
    --light: 0.1;
    --blur: 5px;
    --speed: 1s;
    --drop: 1px;
}


html {
    --light: 0.9;
    --blur: 5px;
    --speed: 1s;
    --drop: 1px;

}


body {
    background: url("img/background.jpg") 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 1000%;
    color: white;

}




.night {
    position: absolute;
    margin: auto;
    background-color: black;
    opacity: calc(1 - var(--light));
    z-index: 100;
    max-width: 50vw;
    width: 100%;
    height: 100%;
    max-height: 50vh;


}




header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-shadow: 5px 3px rgba(0, 0, 0, 0.37);
}



.flex-container {
    display: flex;
    justify-content: center;




}

.text-area {
    margin: auto;
    text-align: center;

    width: 20%;
    z-index: 10;

}


.canvas {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    width: 50vw;
    height: 50vh;
    border: 10px solid #3f24099d;
    box-shadow: -10px 0px 10px #000000, 0px 0px 1px #0d0d0d;
}

.canvas>canvas {
    width: 100%;
    max-width: 70vw;
    height: 100%;
    max-height: 70vw;
    display: inline-block;

}

.canvas-container {
    display: flex;
    justify-content: center;
}

.empty {
    width: 20%;
    margin: auto;


}

.container {
    display: flex;
    justify-content: center;

}

.range {
    display: block;
    margin: 27px;


}

.controls {
    background-color: #0000008f;
    border-radius: 10px;
}

.trivia {
    background-color: #ffffffdc;
    border-radius: 10px;
    padding: 20px;
    color: black;
    box-shadow: -5px 0px 20px #000000, 0px 0px 1px #0d0d0d;

}

input[type=range] {
    -webkit-appearance: none;
    width: 120%;
    background: transparent;
}


.sliders>input[type=range] {
    width: 15%;
    margin:
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;


    background: transparent;
    border-color: transparent;
    color: transparent;
}



input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0px;
    height: 20px;
    width: 10px;
    border-radius: 3px;
    background: white;
    cursor: pointer;
    margin-top: -5px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 150%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 2px 1px 1px #000000, 0px 0px 1px #ffffff;
    background: white;
    border-radius: 5px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #52962bd2;
}


.buttons>button {

    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 100px;
    color: black;
    background: white;
    border: 0;
    cursor: pointer;
    outline: none;
    min-width: 50px;
    padding: 5px;



}

.buttons>button:hover {
    background: #ffd000f6 radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.507) 1%) center/10000%;

}

.buttons>button:active {
    background-color: #ffd000f6;
    background-size: 100%;
    transition: background 0.4s;
    border: 1px solid white;

}

.buttons>button>img {
    height: 30px;
}

.fa-skull-crossbones {
    font-size: 25px;
}

.fa-bolt {
    font-size: 25px;
}

.ranges {
    padding: 10px;


}

.ranges>div {
    display: flex;
    align-items: center;
}

.fa-sun {
    color: #e0a118;
    font-size: 25px;
}

.fa-tint {
    color: #30a5c9;
    font-size: 25px;

}

.fa-snowflake {
    font-size: 25px;
}


.buttons {
    padding: 10px;

    display: flex;
    justify-content: center;

}

.game {
    display: block;
    max-width: 1200px;

}


@media screen and (min-width: 768px) and (max-width: 1280px) {
    .buttons {
        display: block;
    }
}







@media screen and (max-width: 780px) {

    .container {
        display: block;
    }

    .flex-container {
        display: flex;
        justify-content: center;
    }

    .text-area {

        text-align: right;

        width: 100%;

    }

    .canvas {
        width: 70vw;
    }

    .canvas>canvas {
        max-width: 70vw;
        max-height: 70vw;

    }

    .night {
        max-width: 70vw;
    }

    .empty {
        width: 100%;
    }
}


@media screen and (max-width: 500px) {

    .ranges {
        padding: 30px;

    }

    .buttons {
        padding: 30px;

    }

    input[type=range] {

        width: 100%;
    }

    .canvas {
        width: 90vw;
    }

    .night {
        max-width: 90vw;
    }

    .canvas>canvas {
        max-width: 90vw;
        max-height: 90vw;
    }
}













.rain-container {
    position: absolute;
    max-width: 50vw;
    width: 100%;
    height: 100%;
    max-height: 50vh;
    margin: 0;
    overflow: hidden;

}

.rain {
    position: absolute;
    margin: auto;


    z-index: 1000;
    max-width: 50vw;
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

.rain.fron-row {
    overflow: hidden;
}


.drop {
    position: absolute;
    bottom: 100%;
    width: 10px;
    height: 100px;
    pointer-events: none;

    animation: drop 0.5s linear infinite;
    animation-delay: 0.5s;
    animation-duration: var(--speed);

}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }

    75% {
        transform: translateY(90vh);
    }

    100% {
        transform: translateY(90vh);
    }
}

.stem {
    width: var(--drop);
    height: 100%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(52, 113, 235, 1));
    animation: stem 0.5s linear infinite;
    animation-duration: 0.5s;
}

@keyframes stem {
    0% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.snow-container {
    position: absolute;
    max-width: 50vw;
    width: 100%;
    height: 100%;
    max-height: 50vh;
    margin: 0;
    overflow: hidden;

}

.snow {

    position: absolute;
    margin: auto;


    z-index: 900;
    max-width: 50vw;
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

.snow.fron-row {
    overflow: hidden;
}


.snow-flake {
    position: absolute;
    bottom: 100%;
    width: 10px;
    height: 10px;
    border-radius: 50;
    pointer-events: none;

    animation: drop 0.5s linear infinite;
    animation-delay: 0.5s;
    animation-duration: var(--speed);

}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }

    75% {
        transform: translateY(90vh);
    }

    100% {
        transform: translateY(90vh);
    }
}

.stem-snow {
    width: 10px;
    height: 100%;
    margin-left: 7px;
    background: white;
    animation: stem 0.5s linear infinite;
    animation-duration: 0.5s;
}

@keyframes stem {
    0% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}





.typewriter .trivia h1 {
    color: black;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(20, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}